.BudgetRender {

    text-align: center;
    display: flex;
    color: #fff;
    align-items: center;

}

.BudgetRender-span {
    line-height: 20px;
    text-align: center;
}

.BudgetRender-img {

    margin-right: 15px;
}

.budget-fatal {
    color: #80080f;
    font-weight: 700;
}

