

.cost-list {
    background-color: white;

    /*display: flex;*/
    /*flex-wrap: wrap;*/
    /*flex-direction: column;*/
    /*align-content: flex-start;*/
    /*position: relative;*/
    /*width: 1000px;*/
    /*height: 1000px;*/
    
}

.result {
    width: 120px;
    color: orangered;
    font-weight: bold;
    margin: 50px 0 0 auto;
}
.spends-span {
    padding: 5px;
}

.start {
    counter-reset: start;
    counter-increment: start;
}

table.Table {
    width: 100%;
    text-align: center;
    border-collapse: collapse;

}
table.Table td, table.Table th {
    padding: 3px 2px;
}
table.Table tbody td {
    font-size: 14px;
    font-weight: lighter;

}
table.Table tr:nth-child(even) {
    background: #D0E4F5;
}
