* {
     box-sizing: border-box;
     border: none;
     outline-style: none;
}

/* .homepage {
     position: fixed;
     top: 0;
     left: 0;
     width: 100%;
     height: 100vh;
     background-color: rgba(0, 0, 0, 0.2);
     z-index: 1;
} */

.homepage__main {
     padding-top: 20px;
     width: 100vw;
     position: fixed;
     display: flex;
     justify-content: space-around;
     background-color: #ffffff;
     height: 25px;
     z-index: 200;
     background: transparent;
}

.homepage__title {
     /* text-align: center; */
     color: #ff5722;
     font-size: 23px;
}

.homepage__btn {
     display: flex;
     text-align: center;
     /* width: 100vw; */
}

.homepage__btn-reg {
     display: block;
     height: 20px;
     padding: 0 15px;
     font-size: 16px;
     color: #ff5722;
     font-weight: 700;
     background: transparent;
}

.homepage__btn-log {
     display: block;
     height: 20px;
     padding: 0 15px;
     font-size: 16px;
     color: #ff5722;
     font-weight: 700;
     background: transparent;
}