* {
    box-sizing: border-box;
    border: none;
    outline-style: none;
}

.modale-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.modale {
    position: absolute;
    padding: 10px 10px 40px ;
    display: inline-block;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #ffffff;
    margin: auto;
    box-shadow: 0 0 9px 1px rgba(0, 0, 0, 0.5);
    max-width: 100%;
}

.enter-form__text {
    display: inline-block;
    text-align: center;
    margin-bottom: 32px;
    background-color: #3f51b5;
    width: 100%;
    height: 50px;
    color: white;
    font-size: 20px;
    padding: 11px 0 0 0;
}


.menu-png {
    position: absolute;
    top: 2%;
    left: 7%;
    width: 28px;
    height: 48px;
}
.modale__btn-close {
    display: block;
    width: 17px;
    height: 18px;
    position: absolute;
    top: 5px;
    right: 5px;
    cursor: pointer;
    top: 12px;
    right: 13px;
}
.modale__btn-close:hover {
    fill: #9b2907;
}
.modale__btn-save {
    display: block;
    border-radius: 9px;
    height: 33px;
    width: 90%;
    background-color: #ff5722;
    color: #ffffff;
    font-weight: 500;
    box-shadow: 0 2px 3px 1px rgba(0, 0, 0, 0.5);
    padding: 8px;
    font-size: 12px;
    margin: 120px auto 0;
}


@media (min-width: 768px) {

    .modale__btn-close {
        display: block;
        position: absolute;
        width: 17px;
        height: 18px;
        top: 12px;
    }
    .modale__btn-close:hover {
        fill: #9b2907;
    }
    /*.modale__btn-save {*/
        /*display: block;*/
        /*border-radius: 9px;*/
        /*height: 33px;*/
        /*width: 106px;*/
        /*background-color: #ff5722;*/
        /*color: #ffffff;*/
        /*font-weight: 500;*/
        /*box-shadow: 0 2px 3px 1px rgba(0, 0, 0, 0.5);*/
        /*padding: 8px;*/
        /*font-size: 12px;*/
        /*margin: auto;*/
    /*}*/
}





