* {
    box-sizing: border-box;
    border: none;
    outline-style: none;
}

.modale {
    position: relative;
    width: 425px;
    height: 290px;
    /*background-color: #ac66ff;*/
    /*убрать маржин топ после слияния*/
    margin: 10px auto;
    box-shadow: 0 0 9px 1px rgba(0, 0, 0, 0.5);
}

.modale__btn-close {
    display: block;
    width: 20px;
    height: 20px;
    position: absolute;
    top: 5px;
    right: 5px;
}

.modale__btn-close:hover {
    background-image: url('/public/modale_blue.png');
}

.modale__btn-save {
    display: block;
    border-radius: 9px;
    height: 33px;
    width: 106px;
    position: absolute;
    transform: translate(50%);
    bottom: 48px;
    right: 50%;
    background-color: #ff5722;
    color: #ffffff;
    font-weight: 500;
    box-shadow: 0 2px 3px 1px rgba(0, 0, 0, 0.5);
    padding: 8px;
    font-size: 12px;
}

.active {
    display: none;
    transition: 1s;
}