
.cost-wrapper {
    background-color: #f1f2f2;
    flex-basis: 100%;
}

.cost-list {
    background-color: white;
    margin: auto;
    box-shadow: 0 2px 5px 1px #b8b9b9;
    /*z-index: 1;*/
}
.result {
    color: #ff5722;
    font-weight: bold;
    margin-top: 50px;
    padding: 20px 15px 50px 0;
}

.spends-result {
    font-family: 'Roboto', sans-serif;
    font-size: 10px;
    text-align: right;
}

.spends-span {
    padding: 5px;
    font-size: 10px;
}

.start {
    counter-reset: start;
    counter-increment: start;
}

.cost-form {
    padding: 20px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}



.tool-tip-add {
    z-index: 2;
    width: 22px;
    height: 22px;
    /*border: 1px solid black;*/
    color: #fff;
    position: absolute;
    left: 14px;
    top: 19px;
    cursor: pointer;
}

.cost-info {
    font-family: 'Roboto', sans-serif;
    font-size: 10px;
    text-align: right;
    color: #ff5722;
    font-weight: bold;
}

.cost-category {
    font-family: 'Roboto', sans-serif;
    font-size: 10px;
    text-align: right;
    color: #ff5722;
    font-weight: bold;
}

.cost-add {
    outline: none;
    border: none;
    width: 20px;
    height: 20px;
    background: transparent;
    background-image: url("/plus.svg");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    cursor: pointer;
    z-index: 1;
}
.line:nth-child(even) {
    background: #f3f4fb;
}


.deleteCost {
    opacity: 0;
    width: 15px;
    height: 15px;
    cursor: pointer;
}

.line:hover  {
    background-color: #dedede;
}

.line:hover .deleteCost {
    opacity: 1;
}

table.Table {
    width: 95%;
    margin: auto;
    text-align: center;
    border-collapse: collapse;
    padding: auto 5px;
}

table.Table td, table.Table th {
    padding: 3px 2px;
}

table.Table tbody td {
    font-size: 10px;
    font-weight: lighter;
    text-align: left;
    color: rgba(117, 117, 117, 255);
    font-family: 'Roboto', sans-serif;
}

table.Table tbody td:last-child {
    text-align: right;
}


@media (min-width: 768px) {
    .spends-span {
        padding: 5px;
        font-size: 16px;
    }

    table.Table tbody td {
        font-size: 16px;
        font-weight: lighter;
        text-align: left;
        color: rgba(117, 117, 117, 255);
        font-family: 'Roboto', sans-serif;
    }

    .spends-result {
        font-size: 16px;
    }

    .cost-info {
        font-size: 16px;
    }

    .cost-category {
        font-size: 16px;
    }
}
