* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

.total-wrapper {
    display: flex;
    background-color: #ebecf0;
    position: relative;
}

.sideBar {
    /*flex-basis: 20%;*/
    position: absolute;
    top: 0;
    left:-500px;
    transition: 1s;
    /*background-color: #5a5b62;*/
}

.sideBar-active {
    top: 0;
    left: 0;
}

.flex-wrapper {
    display: flex;
    flex-basis: 100%;
    flex-direction: column;
    min-height: 100vh;
    padding: 2rem 1rem;
    background: #f1f2f2;
}

.headerRemove {
    background-color: #3f51b5;

}

.headerButton-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0 10px;
}

.header-sum {
    font-family: 'Roboto', sans-serif;
    color: #c5cae9;
    font-size: 10px;
    font-weight: 400;
    text-align: right;
    padding: 3% 0;
}

.header-bag {
    outline: none;
    border: none;
    width: 20px;
    height: 20px;
    background: transparent;
    background-image: url("/bag-icon.svg");
    background-position: center;
    background-size: contain;
}
@media (min-width: 768px){
    .sideBar{
        position: static;
        flex-basis: 20%
    }
}

@media (min-width: 1024px) {
    .header-sum {
        font-family: 'Roboto', sans-serif;
        color: #c5cae9;
        font-size: 16px;
        font-weight: 400;
        text-align: right;
        padding: 3% 0;
    }
}

