.wrapper-sidebar {
    width: 250px;
}

.sub-menu {
    font-size: 12px;
    color: black;
    background-color: white;
    display: none;
}

.active {
    display: block;

}
.sidebar-link {
    display: block;
    line-height: 70px;
    padding-left: 10px;
    color: #000;
}
.sidebar-link:hover{
    cursor: pointer;
    color: #ff5722;
}

.sub-item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-weight: bold;
    color: darkgrey;
    /*margin-top: 5px;*/
    padding-left: 20px;
    padding-right: 10px;
    height: 45px;
    align-items: center;
}
.sub-item:hover {
    color: #375980;
    cursor: pointer;
}

.sum-of-cost {
    background-color: #3f51b5;
    color: white;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    text-align: center;
    /*padding: 1rem;*/
    line-height: 35px;
    font-size: 12px;
    font-weight: 300;
}

.create-btn {
    background-color: #ff5722;
    color: white;
    border: 1px solid #ff5722;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: bold;
    border-radius: 5px;
    width: 200px;
    padding: 7px 0 3px 0;
    display: block;
    margin: auto;
    cursor: pointer;
}
.create-btn:hover {
    background-color: white;
    color: #ff5722;
}
.create-btn:active {
    border-color: #ff5722;
    box-shadow: rgba(255, 255, 255, 0.2) 0 1px 0, inset rgba(0, 0, 0, 0.25) 0 1px 4px;
}

.menu-item {
    width: 249px;
    font-size: 22px;
    height: 70px;
    color: #000;

}
.menu-item:hover {
    background-color: #C5C9E9;
    color: white;
}
.menu-item:last-child {
    margin-bottom: 20px;
}
.menu-item-active {
    background-color: #C5C9E9;
    color: #ffffff;
}
.icon-budget {
    width: 20px;
    margin-right: 15px;
}
.icon-stopwatch {
    width: 20px;
    margin-right: 15px;
}
.icon-bars {
    width: 20px;
    margin-right: 15px;
}

