* {
    box-sizing: border-box;
    border: none;
    outline-style: none;
}

.registration {
    width: 280px;
    /*position: relative;*/
}
.registration__welcome{
    text-align: center;
    font-size: 21px;
}

.registration__text {
    text-align: center;
    margin-bottom: 32px;
    background-color: #3f51b5;
    width: 100%;
    height: 50px;
    color: white;
    font-size: 20px;
    padding: 12px 0 0 0;
}

.registration__btn {
    display: block;
    border-radius: 9px;
    height: 33px;
    width: 90%;
    background-color: #ff5722;
    color: #ffffff;
    font-weight: 500;
    box-shadow: 0 2px 3px 1px rgba(0, 0, 0, 0.5);
    padding: 8px;
    font-size: 12px;
    margin: auto;
    cursor: pointer;
}
.registration__btn:hover {
    background-color: #fff;
    color: #ff5722;
}
.registration__btn:active {
    border-color: #083559;
    box-shadow: rgba(255, 255, 255, 0.2) 0 1px 0, inset rgba(0, 0, 0, 0.25) 0 1px 4px;
}

.registration__valid {
    position: relative;
    text-align: left;
    margin-bottom: 30px;
    padding-left: 10%;
}

.png-bg{
    position: absolute;
    top: 30%;
    left: 5%;
}



.registration__valid:last-of-type {
    margin-bottom: 80px;
}

.registration__valid:first-of-type{
    background-image: url("/lock.png");;
}


.registration__control {
    margin: auto;
    display: block;
    height: 34px;
    width: 85%;
    border-bottom: 1px solid #bebebf;
    padding: 10px;
}

.registration__name {
    display: block;
    font-size: 16px;
    color: #ff5722;
    font-weight: 700;
    margin-bottom: 16px;
}


@media (min-width: 768px) {
    .registration {
        width: 346px;
    }
    .registration__welcome{
        text-align: center;
        font-size: 21px;
    }

    .registration__valid:last-of-type {
        margin-bottom: 110px;
    }

}


