.wrapper-sidebar {
    width: 250px;
}

.sub-menu {
    font-size: 12px;
    color: black;
    background-color: white;
    display: none;
}

.active {
    display: block;

}
.sidebar-link {
    display: block;
    line-height: 70px;
    padding-left: 10px;
    color: #000;
}


.sub-item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-weight: bold;
    color: darkgrey;
    /*margin-top: 5px;*/
    padding-left: 20px;
    padding-right: 10px;
    height: 45px;
    align-items: center;
}
.sub-item:hover {
    color: #375980;
}

.sum-of-cost {
    background-color: #3f51b5;
    color: white;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    text-align: center;
    /*padding: 1rem;*/
    line-height: 35px;
    font-size: 12px;
    font-weight: 300;
}

.create-btn {
    background-color: orangered;
    color: white;
    border: 1px solid orangered;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: bold;
    border-radius: 5px;
    width: 200px;
    padding: 7px 0 3px 0;
    display: block;
    margin: auto;
}
.create-btn:hover {
    background-color: white;
    color: orangered;
}

.menu-item {
    width: 249px;
    font-size: 22px;
    height: 70px;
    color: #000;

}
.menu-item:hover {
    background-color: #C5C9E9;
    color: white;
}
.menu-item:last-child {
    margin-bottom: 20px;
}
.menu-item-active {
    background-color: #C5C9E9;
    color: #ffffff;
}


