.header {
    width: 100%;
    height: 4.5625rem;
    overflow: hidden;
    position: relative;
}

.header-nav {
    display: flex;
    justify-content: center;
}

.header-button {
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-size: 14px;
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase;
    text-shadow: rgba(0, 0, 0, 0.30) 0 -1.25px 0;
    background: inherit;
    padding: 11px 20px;
    border-radius: 3px;
    cursor: pointer;
}

.header-button:hover {
    background-color: rgba(255,255,255,0.1);
}

.header-button:active {
    border-color: #083559;
    box-shadow: rgba(255, 255, 255, 0.2) 0 1px 0, inset rgba(0, 0, 0, 0.25) 0 1px 4px;
}

.progress-bar-fact {
    background-color: #e64c3c;
    z-index: 2;
    height: 100%;
    transition-duration: 1.5s;
}

.header-relative-box {
    position: absolute;
    z-index: 1;
    height: 100%;
    background-color: #3f51b5;
}

.header-index-3 {
    position: absolute;
    z-index: 3;
    width: 100%;
    border-radius: 5px;
    display: flex;
    height: 4.5625rem;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

.menu-svg {
    width: 82px;
    height: 38px;
}
