.budget-title {
    text-align: center;
    margin-bottom: 32px;
    background-color: #3f51b5;
    width: 100%;
    height: 50px;
    color: white;
    font-size: 20px;
    padding: 10px 0 0 0;
}

.budget-form{
    width: 280px;
    /*margin-bottom:35px;*/
}

.budget-select {
    /*width: 100%;*/

}

.budget-select option {
   color: #000000;
}
.budget-create {
    position: relative;
    text-align: left;
    margin-bottom: 30px;
    padding-left: 10%;
}

.icon_budget {
    position: absolute;
    top: 22%;
    left:5%;
}
.statistic__select {
    border: 0;
    /*border-bottom: 1px solid #cecece;*/
    font-size: .625rem;
    color: #cecece;
    /*margin-bottom: 1rem;*/
    margin: auto;
    display: block;
    height: 34px;
    width: 85%;
    border-bottom: 1px solid #bebebf;
    padding: 10px;
}

.input-budget::placeholder {
    color: #cecece;
}

.input-budget {
    /*width: 100%;*/
    /*color: #000;*/
}
.modale__btn-save {
    cursor: pointer;
}
.modale__btn-save:hover {
    background-color: white;
    color: orangered;
}
.modale__btn-save:active {
    border-color: #083559;
    box-shadow: rgba(255, 255, 255, 0.2) 0 1px 0, inset rgba(0, 0, 0, 0.25) 0 1px 4px;
}
@media (min-width: 768px) {
    .statistic__select {
        font-size: 1rem;
    }
}
